<!doctype html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/allGamesStyle.css">
    <script>
        function clearFun(){
            counter = 0;
        }
    </script>

</head>

<body class="bg-black">
    <!-- Header -->
    <header class="p-3 menu-fixed bg">
        <%- include ('../partials/header.ejs') %>
    </header>

    <!-------body-------> 
    <div class="container mb-5">
        <div class="row">
            <div class="col-8 mt-5">
                <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 g-3">
                    <% let count = 0%>
                    <% gamesArray.forEach(element => { %>
                        <% count++ %>
                        <div class="col">
                            <div class="card w-100 h-100">
                                <% const p = element.poster %>
                                <%= p %>
                                <img src="../../public/images/uploads/<% element.poster %>"
                                class="card-img-top" alt="<%=element.gameTitle %> poster" >
                                <div class="card-body">
                                    <h5 class="card-title"><%= element.gameTitle %></h5>
                                    <p class="card-text"><%= element.price %></p>
                                </div>
                            </div>
                        </div>
                    <%});%>
                    <% if(count == 0) { %>
                        <p class ="text-center">No data to show</p>
                    <% } %>
                </div>
            </div> 


            <div class="col-4 mt-5 mb-5">
                <% let counter = 0 %>
                <div>
                    <label class="text-light mb-2">Filters </label>
                    <%if (counter > 0){%>
                    <span class = "text-light mx-2 me-5"> ( <%= counter %> ) </span>
                    <!-- <button type = "button" onclick=" clearFun()" class = "btn btn-link text-light"> Reset </button> -->
                    <%}%>
                </div>

                <div>
                    <input class="form-control inputbg bg-dark text-light" type="text" placeholder="Keywords">
                </div>

                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item">
                        <div class="border-bottom border-dark">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    Price
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="con">
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options" onmouseup="">Free</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options" onmouseup="">Under $5.00</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options" onmouseup="">Under $10.00</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options" onmouseup="">Under $20.00</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options" onmouseup="">Under $30.00</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options" onmouseup="">$14.99 and above </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options" onmouseup="">Discounted</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <div class="border-bottom border-dark">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo"> Genre
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="con">
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Action</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Action-Adventure</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" class="css-1jdqhvm" role="checkbox"
                                                    tabindex="0">
                                                    <div class="css-19ycfao">Adventure</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Card Game</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Casual</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="" onmouseup="">City Builder</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Comedy</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Dungeon Crawler</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Exploration</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Fantasy</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">Fighting</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup="">First Person</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Horror</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Indie</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">MOBA</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Music</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Narration</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Open World</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options" onmouseup=""onmouseup="">Party</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Platformer</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Puzzle</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Racing</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Retro</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Rogue-Lite</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">RPG</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">RTS</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Shooter</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Simulation</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Space</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Sports</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Stealth</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Strategy</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Survival</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Tower Defense</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Trivia</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Turn-Based</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options"onmouseup="">Turn-Based Strategy</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="accordion-item">
                            <div class="border-bottom border-dark">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Platform
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options"onmouseup="">Mac OS</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options"onmouseup="">Windows</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!------------------>


    <!--footer-->
    <footer class="footer bg">
        <%- include('../partials/footer') %>
    </footer>
    <!---------------->

    <!-- Scripts -->
    <%- include ('../partials/scriptLinks')%>
        <!------->
</body>

</html>