<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/images/logo.png" type="image/x-icon">

    <title>gamePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="../../public/css/gamePage.css">
    <script defer src="../../public/Js/gamePage.js"></script>
    <!-- need to change this -->


<body class="bg-black">
    <!---Header--->
    <header class="p-3 menu-fixed bg">
        <%- include ('../partials/header.ejs') %>
    </header>

    <!-- body -->
    <div class="container bg-dark mt-4 test p-4  rounded-3 mb-4 ">
        <div class="row">
            <h1 class="text-white my-3">
                <%= game.name %>
            </h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-9 my-3 order-1 order-md-0">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <% game.sliderImgs.forEach((_, index)=> { %>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="<%= index %>" <% if (index===0) { %> class="active"
                                aria-current="true" <% } %> aria-label="Slide <%= index + 1 %>"></button>
                            <% }) %>
                    </div>
                    <div class="carousel-inner">
                        <% game.sliderImgs.forEach((img, index)=> { %>
                            <div class="carousel-item <% if (index === 0) { %>active<% } %>">
                                <img src="/images/uploads/<%= img %>" class="d-block w-100 carImage img-fluid"
                                    alt="Slide <%= index + 1 %>">
                            </div>
                            <% }) %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <h2 class="text-white col-12 col-md-9 fw-light order-3 mx-1 mt-4">Description</h2>
            </div>
            <div class="col-12  my-3 col-md-3 order-0 order-md-1 test sticky-md-top">
                <div class="row">
                    <div class="col-12 w-60 w-md-100"><img class="img-fluid"
                            src="/images/uploads/<%= game.sideImg %>" alt="god of war imagae"></div>
                    <div class="col-12">
                        <p class="text-white mx-3 my-3 text-">
                            <%= game.sideDescription %>
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        <button id="scrollButton" class="border-0 w-100 rounded-2 buyButton ">Purchase</button>
                    </div>
                    <div class="col-12">
                        <hr class="border-5 border-white">
                    </div>
                    <div class="col-12 text-white my-1">Developer: <%= game.developer %>
                    </div>
                    <hr class="border-5 border-white">
                    <div class="col-12 text-white my-1">Publisher: <%= game.publisher %>
                    </div>
                </div>

            </div>

            <div class="text-white col-12 col-md-9 order-3 text-center my-2">
                <%= game.mainDescription %>
            </div>

        </div>
        <div id="focusContent" class="container my-5 text-white ">
            <div class="row">
                <div class="col-12 col-md-4 "><img class="img-fluid" src="/images/uploads/Standard+ps5.png" alt="">
                    <div class="col text-white my-3 text-center d-flex flex-column">
                        <h2 class="fw-light col-12">Standard</h2>
                        <div class="col-12 text-start mx-1">
                            <ul>
                                <li>God of War Ragnarök ps4</li>
                            </ul>
                        </div>
                        <div class="col-12 mx-1 text-start text-white ">$<%= game.price %>
                        </div>
                        <button class="col-12 buyButton rounded-3 my-3">Add to Cart</button>

                        <button class="col-12 buyButton rounded-3 my-3">Wishlist</button>

                    </div>
                </div>
                <div class="col-12 col-md-4"><img class="img-fluid" src="/images/uploads/Standard+ps5.png" alt="">
                    <div class="col text-white my-3 text-center d-flex flex-column">
                        <h2 class="fw-light col-12">Standard</h2>
                        <div class="col-12 text-start mx-1">
                            <ul>
                                <li>God of War Ragnarök ps4 and ps5</li>
                            </ul>
                        </div>
                        <div class="col-12 mx-1 text-start text-white">$<%= game.price %>
                        </div>
                        <button class="col-12 buyButton rounded-3 my-3">Add to Cart</button>

                        <button class="col-12 buyButton rounded-3 my-3">Wishlist</button>

                    </div>
                </div>
                <div class="col-12 col-md-4"><img class="img-fluid" src="/images/uploads/Digital Deluxe.png" alt="">
                    <div class="col text-white my-3 text-center">
                        <h2 class="fw-light col-12">Digital Deluxe Edition</h2>
                        <div class="col-12 text-start mx-1">
                            <ul>
                                <li>includes: God of War Ragnarök PS4 and PS5</li>
                                <li>Darkdale Armor</li>
                                <li>Darkdale Attire (Cosmetic)</li>
                                <li>Darkdale Axe Grip</li>
                                <li>Darkdale Blades Handle</li>
                                <li>Dark Horse digital art book</li>
                                <li> Official digital soundtrack</li>
                                <li>PSN avatar set for PS4/PS5</li>
                            </ul>
                        </div>
                        <div class="col-12 mx-1 text-start text-white">$<%= game.price %>
                        </div>
                        <form action="/Game/<%= game.id %>/addcart" method="POST">
                            <button class="col-12 buyButton rounded-3 my-3">Add to Cart</button>

                        </form>
                        <form action="/Game/<%= game.id %>/addwishlist" method="POST">
                            <button class="col-12 buyButton rounded-3 my-3">Wishlist</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <hr class="border-5 border-white">
        <div class="row">
            <div class="col-12">
                <div class="col-12">
                    <h2 class="text-white">Reviews</h2>
                </div>
                <div class="col-1  circle">
                    <img class="img-fluid" src="img/users-Icons/Gamec12_Icon.png" alt="">
                </div>
            </div>
        </div>
    </div> -->



    <!--footer-->
    <footer class="footer bg ">
        <%- include('../partials/footer') %>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>