<%-include('../../partials/adminHeader.ejs') %>

<div class="dashboard-page">
  <div class="container px-lg-5">
    <div class="row">
      <h1>Orders</h1>
      <table class="table table-dark table-striped" style="width: 100vw">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Total Price</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% orders.forEach((order) => { %>
            <tr>
              <td><%= order._id %></td>
              <td><%= order.user.username %></td>
              <td>$<%= order.totalPrice.toFixed(2) %></td>
              <td><%= order.date.toDateString() %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%-include('../../partials/adminFooter.ejs') %>
