<%-include('../../partials/adminHeader.ejs') %>

<div class="dashboard-page">
  <div class="container px-lg-5">
    <div class="row">
      <h1>Products</h1>
      <table class="table table-dark table-striped" style="width: 100vw">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Developer</th>
            <th>Genre</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((game, index)=> { %>
          <tr>
            <td>
              <img
                src="../images/gameimages/<%= game.sideImg %>"
                class="me-2"
                width="64px"
              />
            </td>
            <td><%= game.name %></td>
            <td><%= game.developer %></td>
            <td><%= game.genre %></td>
            <td><%= game.price %></td>
            <td>
              <form action="/admin/products/<%= user._id %>?_method=DELETE" method="POST" style="float:left;padding-right:10px">
                <button class="btn btn-danger btn-sm">Delete</button>
              </form>
              <form action="/admin/products/<%= user._id %>?_method=PUT" method="POST">
                <button class="btn btn-secondary btn-sm">Edit</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%-include('../../partials/adminFooter.ejs') %>
