<%-include('../../partials/adminHeader.ejs') %>

<div class="dashboard-page">
  <div class="container px-lg-5">
    <div class="row">
      <h1>
        Products<br />
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#addModal"
          style="width: fit-content"
        >
          Add new product
        </button>
      </h1>

      <table class="table table-dark table-striped" style="width: 100vw">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Developer</th>
            <th>Genre</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((game, index)=> { %>
          <tr>
            <td>
              <img
                src="../images/uploads/<%= game.sideImg %>"
                class="me-2"
                width="64px"
              />
            </td>
            <td><%= game.name %></td>
            <td><%= game.developer %></td>
            <td><%= game.genre %></td>
            <td>$<%= game.price.toFixed(2) %></td>
            <td>
              <form
                action="/admin/products/delete/<%= game._id %>"
                method="POST"
                style="float: left; padding-right: 10px"
              >
                <button class="btn btn-danger btn-sm">Delete</button>
              </form>
              <form action="/admin/products/edit/<%= game._id %>" method="POST">
                <button class="btn btn-secondary btn-sm">Edit</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add new product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          enctype="multipart/form-data"
          method="POST"
          action="/allGames"
        >
          <%-include('../../partials/adminGameForm.ejs') %>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%-include('../../partials/adminFooter.ejs') %>
</div>
