<%-include('../../partials/adminHeader.ejs') %>

<div class="dashboard-page">
  <div class="container px-lg-5">
    <div class="row">
      <h1>Users</h1>
      <table class="table table-dark table-striped" style="width: 100vw">
        <thead>
          <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>Role</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user, index)=> { %>
          <tr>
            <td class="table-user"><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.created?.toDateString() %></td>
            <td>
              <form action="/admin/users/delete/<%= user._id %>" method="POST" style="float:left;padding-right:10px">
                <button class="btn btn-danger btn-sm">Delete</button>
              </form>
              <form action="/admin/users/switchrole/<%= user._id %>" method="POST">
                <button class="btn btn-secondary btn-sm">Switch Roles</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%-include('../../partials/adminFooter.ejs') %>
